# Generated CIMTool artifacts
**/Profiles/*.adoc
**/Profiles/*.puml
**/Profiles/*.xml
**/Profiles/*.xsd
**/Profiles/*.ttl
**/Profiles/*.rtf
**/Profiles/*.html
**/Profiles/*.rdfs
**/Profiles/*.legacy-rdfs
**/Profiles/*.legacy-rdfs-augmented
**/Profiles/*.simple-owl
**/Profiles/*.simple-owl-augmented
**/Profiles/*.simple-flat-owl
**/Profiles/*.simple-flat-owl-augmented
**/Profiles/*.linkml.yaml
**/Profiles/*.sql
**/Profiles/*.cs
**/Profiles/*.java
**/Profiles/*.scala
**/Profiles/*.py
**/Profiles/*.ecore
**/Profiles/*.json
*.bkp

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
CGMES-CIM16/Schema/iec61970cim16v33c_iec61968cim12v08_iec62325cim03v01a_DY_pack_fix_WITH_ENTSO-E_EXTENSIONS.adoc
